@media (max-width: 1199.98px) {
  .container {
    max-width: 910px;
  }

  .navbar {
    &__link {
      margin-left: 25px;
    }
  }

  .main {
    &__text {
      padding-top: 100px;
    }

    &__title {
      width: 500px;
    }

    &__descr {
      font-size: 15px;
      line-height: 21px;
      width: 350px;
    }

    &__buttons {
      flex-direction: column;

      &>.button__registration {
        margin-right: 0;
        margin-bottom: 35px;
      }
    }
  }

  .title {
    font-size: 40px;
    line-height: 52px;

    &__background {
      top: -50px;
      width: 100px;
    }
  }

  .promotions {
    &__img {
      width: 350px;
      height: 350px;
    }
  }

  .black-line {
    width: 500px;
  }

  .block {
    &__top--right {
      width: 550px;
    }
  }

  .course {
    .title__background {
      height: 160px;
    }
  }

  .store {
    .content {
      &__right {
        width: 550px;
      }
    }
  }

  .workplace {
    .content {
      &__left {
        width: 450px;
      }

      &__right {
        width: 400px;
      }
    }
  }

  .contacts {
    &__feedback {
      max-width: 300px;

      .title__background {
        height: 160px;
      }
    }

    &__map {
      iframe {
        width: 550px;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 700px;
  }

  .navbar {
    &__link {
      font-size: 12px;
    }
  }

  .main {
    &__wrapper {

      max-height: 392px;
      min-height: 392px;
    }

    &__text {

      padding-top: 38px;
    }

    &__title {

      width: 474px;
    }

    &__descr {

      width: 260px;
    }

    &__photo {
      width: 304px;
      border-radius: 0px 187px 0px 0px;

      img {
        width: 237px;
        max-height: 357px;
      }
    }
  }

  .button {
    font-size: 12px;
    width: 164px;
    padding: 10px 0;
  }

  .title {
    font-size: 35px;
    line-height: 47px;

    &__background {
      top: -40px;
      width: 150px;
      height: 135px;
    }
  }

  .price {
    &__item {
      width: 340px;
    }

    &__descr {
      max-width: 170px;

      h3 {
        font-size: 22px;
        line-height: 29px;
      }

      p {
        font-size: 13px;
        line-height: 18px;
      }

    }

    &__photo {
      width: 142px;
      height: 142px;
    }
  }

  .promotions {
    &__img {
      width: 250px;
      height: 250px;
    }

    &__item {
      h3 {
        font-size: 22px;
        line-height: 29px;
      }

      p {
        font-size: 13px;
        line-height: 16px;
      }
    }
  }

  .black-line {
    width: 400px;
  }

  .store {
    .content {
      p {
        font-size: 13px;
        line-height: 16px;
      }

      &__left {
        width: 35%;
      }

      &__right {
        width: 55%;
      }
    }
  }

  .block {
    &__top--right {
      width: 345px;

      h3 {
        width: 100%;
      }
    }

    p {
      font-size: 13px;
      line-height: 16px;
    }
  }

  .course {
    .title__background {
      height: 135px;
    }

    &__descr-text {
      h3 {
        font-size: 22px;
      }

      p {
        font-size: 13px;
        line-height: 16px;
        width: 420px;
      }
    }

    &__appointment {
      font-size: 22px;
    }

    &__ending {
      font-size: 13px;
      line-height: 18px;
    }
  }

  .item {
    width: 185px;
    height: 330px;
    padding: 15px 10px;

    &__title {
      font-size: 19px;
      line-height: 25px;
      margin: 0 0 15px;
    }

    &__descr {
      font-size: 13px;
      line-height: 16px;
    }

    &__button {
      width: 160px;
    }

    &__price {
      font-size: 22px;
      margin: 15px 0;
    }
  }

  .workplace {
    .content {
      &__left {
        width: 50%;
      }

      &__right {
        width: 40%;
      }

      &__descr {
        font-size: 13px;
        line-height: 18px;
      }
    }
  }

  .contacts {
    &__feedback {
      .title__background {
        height: 135px;
      }
    }

    &__address {
      margin-top: 30px;
    }
  }

  .map {
    iframe {
      width: 100%;
    }
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 550px;
  }

  .navbar {
    &__link {
      margin-left: 15px;
    }
  }

  .logo {
    width: 106px;
  }

  .main {
    &__text {
      padding-top: 20px;
    }

    &__title {
      width: 350px;
    }

    &__buttons {
      &>.button__registration {
        margin-bottom: 20px;
      }
    }
  }

  .title {
    &__background {
      top: -55px;
      height: 200px;
    }
  }

  .promotions {
    &__img {
      width: 200px;
      height: 200px;
    }
  }

  .black-line {
    display: none;
  }

  .block {
    &__top {
      &--left {
        width: 35%;
      }

      &--right {
        width: 55%;
      }
    }

    &__bottom {
      &--left {
        margin-right: 0;
        width: 35%;
      }

      &--right {
        width: 55%;
      }
    }

    &__title {
      font-size: 22px;
      line-height: 29px;
      margin-bottom: 25px;
    }
  }

  .store {
    .content {
      &__right {
        h3 {
          font-size: 22px;
          line-height: 29px;
        }
      }
    }
  }

  .course {
    .title__background {
      height: 195px;
    }

    &__descr {
      &-text {
        flex-basis: 70%;

        p {
          width: 100%;
        }
      }
    }

    &__list {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__price {
      h3 {
        font-size: 27px;
        line-height: 36px;
      }
    }
  }

  .item {
    flex-basis: 80%;
    align-items: center;
    height: 250px;
    margin-bottom: 25px;

    &__descr {
      min-height: 140px;
    }

    &__title,
    &__duration {
      text-align: center;
    }
  }

  .workplace {
    .content {
      &__img {
        margin-bottom: 15px;
      }
    }
  }

  .contacts {
    &__container {
      flex-direction: column;
    }

    &__feedback {
      margin-bottom: 30px;
      max-width: 100%;

      .title__background {
        height: 100px;
      }
    }

    &__social {
      margin: 0 auto;
    }
  }

  .map {
    height: 250px;
  }
}

@media (max-width: 576.98px) {
  .container {
    max-width: 90%;
  }

  .header {
    margin-bottom: 50px;
  }

  .navbar {
    flex-direction: column;
    align-items: start;

    &__menu {
      width: 100%;
    }

    &__link {
      font-size: 8px;
      margin-left: 0;
    }
  }

  .logo {
    width: 52px;
  }

  .main {
    &__wrapper {
      max-height: 320px;
      min-height: 240px;
    }

    &__text {
      padding-top: 10px;
    }

    &__title {
      width: 280px;
    }

    &__descr {
      font-size: 12px;
      line-height: 14px;
      width: 130px;
      margin-bottom: 20px;
    }

    &__photo {
      width: 50%;
      border-radius: 0px 86px 0px 0px;

      img {
        width: 80%;
        max-height: 100%;
      }
    }

    &__buttons {
      &>.button__registration {
        margin-bottom: 10px;
      }
    }
  }

  .button {
    width: 129px;
    padding: 8px 0;
  }

  .title {
    font-size: 20px;
    line-height: 27px;

    &__background {
      top: -15px;
      height: 70px;
      width: 100px;
    }
  }

  .price {
    margin-top: 70px;

    &__wrapper {
      flex-direction: column;
    }

    &__title {
      max-width: 160px;
      margin-bottom: 25px;
    }

    &__list {
      padding: 0;
      margin: 0 auto;
    }

    &__item {
      width: 100%;
    }

    &__photo {
      width: 100px;
      height: 100px;
    }

    &__descr {
      max-width: 150px;
      padding-right: 10px;

      h3 {
        font-size: 17px;
        line-height: 23px;
      }

      & p {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }

  .promotions {
    margin-top: 50px;
    margin-bottom: 50px;

    &__title {
      margin-bottom: 25px;
    }

    &__img {
      width: 129px;
      height: 152px;

      &--left {
        margin-bottom: 20px;
      }

      &--right {
        margin-top: 20px;
      }
    }

    &__item {
      flex-basis: 140px;

      h3 {
        font-size: 17px;
        line-height: 23px;
      }

      p {
        font-size: 12px;
        line-height: 12px;
      }
    }
  }

  .store {
    margin-bottom: 50px;

    &__title {
      margin-bottom: 25px;
    }

    .content {
      p {
        font-size: 12px;
        line-height: 12px;
      }

      &__right {
        h3 {
          font-size: 17px;
          line-height: 23px;
        }
      }

      &__left {
        .button {
          width: 100%;
        }
      }
    }
  }

  .block {
    &__title {
      font-size: 17px;
      line-height: 23px;
    }

    p {
      font-size: 12px;
      line-height: 140%;
    }

    &__top {
      &--right {

        p:nth-child(3),
        img {
          margin-bottom: 25px;
        }
      }
    }
  }

  .recomendation {
    margin-bottom: 50px;
  }

  .course {
    margin-bottom: 50px;

    .title__background {
      height: 100px;
    }

    &__title {
      width: 270px;
    }

    &__descr {
      &-text {
        h3 {
          font-size: 17px;
          line-height: 23px;
        }
      }

      li {
        flex-direction: column;
      }

      &-img {
        width: 270px;
        margin: 0 auto;
      }
    }

    &__price {
      h3 {
        font-size: 21px;
        line-height: 23px;
      }
    }

    &__appointment {
      font-size: 17px;
    }

    &__ending {
      font-size: 12px;
      line-height: 140%;
      width: 100%;
    }

    &__list {
      margin-bottom: 10px;
    }
  }

  .item {
    height: 275px;
  }

  .workplace {
    margin-bottom: 50px;

    &__title {
      margin-bottom: 25px;
    }

    .content {
      &__descr {
        font-size: 12px;
        line-height: 140%;
      }
    }
  }

  .contacts {
    &__feedback {
      .title__background {
        width: 50px;
        height: 40px;
      }
    }

    &__form {

      input,
      textarea {
        font-size: 13px;
        line-height: 16px;
      }
    }

    &__address {
      margin-bottom: 20px;

      img {
        margin-right: 10px;
        width: 20px;
      }

      p {
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
}