.price {
  margin-top: 100px;

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    width: 302px;
    max-height: 146px;
    margin-top: 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    padding: 30px 0;
    border-bottom: 2px solid #000000;

    &:first-child {
      border-top: 2px solid #000000;
    }
  }

  &__descr {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: end;

    h3 {
      font-family: 'PlayfairDisplay-Bold', serif;
      font-size: 30px;
      line-height: 40px;
      margin: 0;
    }

    p {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__photo {
    width: 231px;
    height: 231px;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
    }
  }
}
