.recomendation {
  margin-bottom: 100px;

  &__title {
    margin-bottom: 50px;
  }

  &__img {
    margin-bottom: 50px;
  }
}

.block {
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

    &--left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 150px;
    }

    &--right {
      width: 700px;

      h3 {
        width: 400px;
      }

      p {
        margin-top: 0;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }

        &:nth-child(3) {
          margin-bottom: 50px;
        }
      }

      img {
        margin-bottom: 50px;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;

    h3 {
      margin-bottom: 30px;
    }

    &--left {
      margin-right: 200px;

      img {
        margin-top: 100px;
        margin-bottom: 30px;
      }
    }

    &--right {
      img:first-child {
        margin-bottom: 50px;
      }

      img:last-child {
        margin-top: 100px;
      }
    }
  }

  &__title {
    font-family: 'PlayfairDisplay-Bold', serif;
    font-size: 35px;
    line-height: 47px;
    margin-top: 0;
    margin-bottom: 50px;

  }

  p {
    font-size: 20px;
    line-height: 28px;
  }
}