.store {
  display: none;
  margin-bottom: 100px;

  &__title {
    margin-bottom: 50px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  .content {
    &__left {
      width: 300px;

      img {
        margin-bottom: 25px;
      }

      .button__registration {
        margin: 5px auto 0;
      }
    }

    &__right {
      width: 700px;

      h3 {
        margin: 0;
        margin-top: -5px;
        background: rgba(251, 230, 209, 0.52);
        font-family: 'PlayfairDisplay-Bold', serif;
        font-size: 45px;
        line-height: 60px;
      }

    }

    p {
      font-size: 20px;
      line-height: 24px;
      text-align: justify;
    }
  }
}